:root {
    font-size: 18px;
    color: #444
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color:inherit;
}

.logo {
    font-size: 4rem;
}

a:hover {
    color: tomato;
}
.navbar{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px solid #ccc;  
}

.nav > a {
    display: inline-block;
    padding: 5px 10px;
    font-size: 1.5rem;
}

/*Homepages*/

.container {
    max-width: 1200px;
    padding: 20px;
    margin: 20px auto;
}

.intro {
    font-size: 3.2rem;
    max-width: 70%;
}

.featured {
    margin-top: 25px;
    display: inline-block;
    padding: 15px 30px;
    background: tomato;
    color: #fff;
    border: none;
    font-size: 1.5rem;
}

/* Create page */
.form {
    max-width: 60%;
}

label {
    display: block;
}

.input {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1.3rem;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.btn {
    padding: 10px 20px;
    font-size: 1.3rem;
    background: tomato;
    color: #fff;
    border: none;
}

/* Notes page */
.note-wrapper{
    display: flex;
    max-width: 60%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
}

.note{
    font-size: 1.5rem;
}

.delete{
    display: inline-block;
    padding: 5px 10px;
    background: tomato;
    color: #fff;
}